@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-serif);
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

@keyframes scan {
  0% { top: -20%; opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { top: 120%; opacity: 0; }
}
